@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext');
 @keyframes circle-fill {
	 from {
		 stroke-dasharray: 0 100;
	}
	 to {
		 stroke-dasharray: 45 72;
	}
}
 body {
	 font-family: Open Sans;
	 height: 100vh;
	 color: #030303;
	 background: #edf1f7;
	 display: grid;
	 grid-template-columns: 100%;
	 grid-template-rows: max-content auto;
}
 .fas, .fab, .far {
	 color: #8f9bb3;
	 font-size: 18px;
}
 .header {
	 background: #fff;
	 padding: 1rem;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 font-size: 0.8rem;
	 z-index: 100;
	 box-shadow: 0px 2px 20px -8px rgba(0, 0, 0, 0.3);
	 flex-wrap: wrap;
	 height: fit-content;
}
 .header a {
	 font-weight: 600;
	 text-decoration: none;
	 color: #3166ff;
}
 .header__icon {
	 padding-right: 1rem;
	 margin-right: 1rem;
	 position: relative;
}
 .header__icon:not(.fa-bell)::after {
	 content: '';
	 position: absolute;
	 background: #edf1f7;
	 width: 0.8px;
	 height: 1rem;
	 right: 0;
}
 .header__icon:hover {
	 color: #3166ff;
	 cursor: pointer;
	 transition: color 0.2s ease-in-out;
}
 .header__logo {
	 font-weight: 400;
	 font-size: 20px;
	 margin: 0;
}
 .header__mail {
	 padding-right: 1rem;
}
 .header__pic {
	 font-size: 2rem;
	 padding-right: 0.5rem;
	 position: relative;
}
 .header__pic::after {
	 content: '';
	 position: absolute;
	 background: #edf1f7;
	 width: 0.8px;
	 height: 1em;
	 left: -1rem;
}
 .header__section {
	 margin: 4px;
	 display: flex;
	 align-items: center;
}
 .header__section--right {
	 display: flex;
	 flex-wrap: wrap;
}
 .main-section {
	 display: flex;
}
 .menu {
	 background: #fff;
	 font-size: 0.8rem;
	 flex: 1;
	 display: flex;
	 flex-direction: column;
	 z-index: 2;
	 box-shadow: 2px 8px 16px -8px rgba(0, 0, 0, 0.3);
}
 .menu i {
	 padding-right: 0.5rem;
}
 .menu__element {
	 padding: 1rem;
	 font-weight: 600;
	 display: flex;
	 align-items: center;
	 position: relative;
}
 .menu__element .fa-chevron-left {
	 position: absolute;
	 right: 0.8rem;
	 font-size: 0.6rem;
}
 .menu__element:hover {
	 cursor: pointer;
	 color: #3166ff;
}
 .menu__element:hover i {
	 color: #3166ff;
	 cursor: pointer;
	 transition: color 0.2s ease-in-out;
}
 .menu__element:first-child {
	 border-bottom: 1px solid #edf1f7;
}
/* Main content */
 .main {
	 flex: 6;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 background: #edf1f7;
}
 .main__panel {
	 padding: 12px;
}
 .controlls {
	 padding: 12px;
	 display: grid;
	 flex-wrap: wrap;
	 grid-template-columns: 49% 49%;
	 column-gap: 24px;
	 row-gap: 24px;
}
 .controlls__tab {
	 cursor: pointer;
	 padding: 8px;
	 background: #fff;
	 display: flex;
	 align-items: center;
	 border: none;
	 border-radius: 2px;
	 box-shadow: 1px 4px 16px -8px rgba(0, 0, 0, 0.3);
}
 .controlls__tab--active i {
	 color: #fff;
}
 .controlls__tab--active .controlls__text {
	 color: #030303;
}
 .controlls__tab--active .fa-lightbulb {
	 background-color: rgba(101, 141, 252, 1);
	 background: linear-gradient(to right, rgba(101, 141, 252, 1) 0%, rgba(53, 104, 255, 1) 100%);
}
 .controlls__tab--active .fa-border-all {
	 background: rgba(98, 214, 172, 1);
	 background: linear-gradient(to right, rgba(98, 214, 172, 1) 0%, rgba(3, 215, 144, 1) 100%);
}
 .controlls__tab--active .fa-volume-up {
	 background: rgba(62, 170, 247, 1);
	 background: linear-gradient(to right, rgba(62, 170, 247, 1) 0%, rgba(10, 152, 255, 1) 100%);
}
 .controlls__tab--active .fa-mug-hot {
	 background: rgba(252, 199, 93, 1);
	 background: linear-gradient(to right, rgba(252, 199, 93, 1) 0%, rgba(255, 175, 11, 1) 100%);
}
 .controlls__icon {
	 font-size: 2rem;
	 box-sizing: border-box;
	 width: 4rem;
	 height: 3.5rem;
	 padding: 0.8rem;
	 border-radius: 4px;
	 margin-right: 1rem;
}
 .controlls__text {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 color: #8f9bb3;
}
 .controlls__header {
	 margin: 0 0 4px;
}
 .controlls__state {
	 margin: 0;
	 font-size: 0.7rem;
}
 .weather {
	 min-width: 250px;
	 width: 40%;
	 background: #fff;
	 border-radius: 2px;
	 padding: 12px;
	 margin: 12px;
	 display: flex;
	 flex-direction: column;
	 box-shadow: 1px 4px 16px -8px rgba(0, 0, 0, 0.3);
}
 .weather__nav {
	 padding-bottom: 12px;
	 display: flex;
	 justify-content: space-around;
	 font-size: 0.8rem;
	 font-weight: 700;
	 color: #8f9bb3;
	 cursor: pointer;
}
 .weather__nav--active {
	 color: #3166ff;
	 position: relative;
}
 .weather__nav--active::after {
	 content: '';
	 position: absolute;
	 background: #3166ff;
	 width: 125%;
	 height: 3px;
	 bottom: -12px;
	 left: -12.5%;
	 border-radius: 4px;
}
 .weather__temp {
	 align-self: center;
	 padding: 2rem;
	 width: 200px;
	 height: 200px;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
	 align-items: center;
	 position: relative;
}
 .weather__power {
	 color: #3166ff;
	 font-size: 1.6rem;
	 padding: 0.8rem;
	 border: 1px solid #edf1f7;
	 border-radius: 50%;
	 position: absolute;
	 background: #fff;
	 bottom: 0.8rem;
	 outline: none;
}
 .weather__power:hover {
	 color: #3166ff;
	 cursor: pointer;
	 transition: color 0.2s ease-in-out;
}
 .weather__power--active {
	 color: #8f9bb3;
}
 .weather__circle-state {
	 transform-origin: center;
	 transform: rotate(140deg);
}
 .weather__circle-fill {
	 transform-origin: center;
	 transform: rotate(140deg);
	 display: none;
}
 .weather__circle-fill--on {
	 display: block;
	 animation: circle-fill 1.5s ease-in-out;
}
 .weather-options {
	 display: flex;
	 justify-content: space-between;
	 padding: 1rem;
}
 .weather-options__option {
	 border: 1px solid #8f9bb3;
	 border-radius: 50%;
	 padding: 6px;
	 background: #fff;
}
 .weather-options__option:hover {
	 color: #3166ff;
	 cursor: pointer;
	 transition: color 0.2s ease-in-out;
}
 .weather-options__option--active {
	 color: #3166ff;
	 border-color: #3166ff;
	 position: relative;
}
 .weather-options__option--active::after {
	 content: '';
	 border: 1px solid #3166ff;
	 border-radius: 2px;
	 padding: 20px;
	 position: absolute;
	 left: -25%;
	 top: -22%;
}
/* Footer */
 .footer {
	 margin-top: 12px;
	 padding: 1rem;
	 background: #fff;
	 display: flex;
	 justify-content: flex-end;
	 z-index: 3;
	 box-shadow: -2px 0px 16px -8px rgba(0, 0, 0, 0.3);
}
 .footer i {
	 margin-left: 0.5rem;
}
 .footer i:hover {
	 color: #3166ff;
	 cursor: pointer;
	 transition: color 0.2s ease-in-out;
}
/* Media */
 @media (max-width: 576px) {
	 .main__panel {
		 padding: 0 12px;
	}
	 .controlls {
		 padding: 12px 0;
		 grid-template-columns: 100%;
		 row-gap: 12px;
	}
	 .weather {
		 width: calc(100% - 24px);
		 margin: 0;
	}
	 .main-section {
		 flex-direction: column;
	}
	 .fa-chevron-left {
		 transform: rotate(-90deg);
	}
}
 
